/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

}

.container {
    width: 920px;

}

.primary {
    background: #E02C6D;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
}

.highlight {
    color: #E02C6D;
}

/* keyframes */




@keyframes move {
    50% {
        transform: translateX(20px);
    }
}

/*  nav section  */

.nav-section {
    padding: 40px 0;

}




/*  intro section */

.intro-section {
    display: flex;
    min-height: 65vh;

    align-items: center;
}

.intro-description h1 {
    margin-bottom: 18px;
}

.intro-description p {
    margin-bottom: 18px;
}

.intro-img img {
    width: 100%;
}

.fa-arrow-right {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


/* collection section */
.section-title {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 12px;
    /* color: #3A3A3A; */
    text-transform: capitalize;
}

.items {
    display: grid;
    grid-gap: 30px;
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.item {

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 18px 15px;
    width: 280px;
}



.item-img img {
    width: 100%;
}

/* discount section*/
.discount-section {
    padding: 60px 0;
}

.item-box {
    display: grid;
    height: 380px;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid palevioletred; */
}

.item-box:last-child .box-img {
    order: 2;
}

.box-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.box-img img {
    width: 110%;
    height: 105%;
    object-fit: cover;
    transition: .3s;
}

.box-img:hover img {
    transform: scale(1.1);
}

.box-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.box-details h1 {
    text-transform: capitalize;
    font-size: 36px;
    padding-bottom: 20px;
}


/* footer section */

.footer-section {
    background: rgb(2, 2, 61);
    padding: 50px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}