/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;

}

.container {
    width: 920px;
}

.primary {
    background: #E02C6D;
    color: white;
    text-transform: capitalize;

    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
}

.highlight {
    color: #E02C6D;
}

/* keyframes */




@keyframes move {
    50% {
        transform: translateX(20px);
    }
}

/*  nav section  */

.nav-section {
    padding: 40px 0;
    text-transform: capitalize;
}




/*  intro section */

.intro-section {
    display: flex;
    min-height: 65vh;

    align-items: center;
}

.intro-description h1 {
    margin-bottom: 18px;
}

.intro-description p {
    margin-bottom: 18px;
}

.intro-img img {
    width: 100%;
}

.intro-description .fa-arrow-right {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.right-text {
    text-align: right;

    font-size: 1.3em;
}

.right-text a {
    color: #E02C6D;
}

.item-details h2 {
    text-transform: capitalize;
}

.item-details p {
    color: rgb(82, 79, 79);
    font-weight: 600;
}

.filled {
    color: orange;
}

.empty {
    color: gray;
}

/* collection section */
.section-title {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 12px;
    /* color: #3A3A3A; */
    text-transform: capitalize;
}

.items {
    display: grid;
    grid-gap: 30px;
    padding-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.item {

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 18px 15px;
    width: 280px;
}



.item-img img {
    width: 100%;
}

/* discount section*/
.discount-section {
    padding: 60px 0;
}

.item-box {
    display: grid;
    height: 380px;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid palevioletred; */
}

.item-box:last-child .box-img {
    order: 2;
}

.box-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.box-img img {
    width: 110%;
    height: 105%;
    object-fit: cover;
    transition: .3s;
}

.box-img:hover img {
    transform: scale(1.1);
}

.box-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.box-details h1 {
    text-transform: capitalize;
    font-size: 36px;
    padding-bottom: 20px;
}


/* footer section */

.footer-section {
    background: rgb(2, 2, 61);
    padding: 60px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;

}


.social-icons i {
    font-size: 24px;
    margin: 10px 5px 0 5px;

}

.footer-section h1,
h2,
h3,
h4 {
    margin-bottom: 5px;
    font-weight: 400;
}

/* ==========
media queries 
============*/

/* for mobile devices */

@media screen and (max-width:480px) {
    @keyframes move {
        50% {
            transform: translateX(10px);
        }
    }

    .nav-logo {
        text-align: center;
    }

    .section-title {
        font-size: 25px;
        margin-bottom: -15px;
    }

    .container {
        width: 100%;
    }

    .intro-section {

        flex-direction: column-reverse;
    }

    .intro-description h1 {
        font-size: 28px;
        text-align: center;
    }

    .collections {

        margin: 10px 0;
    }

    .collections .item {
        width: 100%;
    }

    .primary {
        font-size: 15px;
        padding: 10px 15px;
    }


    /* collections */
    .collections .items {
        grid-template-columns: 1fr;
    }

    /* discount section */
    .discount-section .item-boxes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .item-box {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;

        margin-bottom: 15px;
        height: auto;
        border: 2px solid pink;

    }

    .box-img {
        width: 100%;
        height: 340px;
        margin-bottom: 10px;

    }

    .item-box:last-child .box-details {
        height: auto;
        padding: 30px 0;
    }

    .item-box img {
        height: 100%;
        width: 100%;
    }

    .item-box:last-child {
        display: flex;
        flex-direction: column-reverse;
    }

    .box-details h1 {
        font-size: 17px;
    }

    /* footer */
    .footer-section {
        padding: 20px 0;

    }

    .footer-section h2 {
        font-size: 15px;
    }

    .footer-section h3 {
        font-size: 12px;
        font-weight: 400;
    }

    .footer-section h4 {
        font-size: 10px;
    }
}

/* for  tablets */
@media screen and (min-width:481px) and (max-width:768px) {
    .container {
        width: 100%;
    }


    /* collections */
    .collections .items {
        grid-template-columns: 1fr 1fr;
        /* background: red; */
    }

    .collections .item {
        width: auto;
    }



    .right-text {
        float: left;
        margin-bottom: 30px;
    }

    /* discounts */
    .discount-section .box-img img {
        object-fit: contain;
    }

    .box-details h1 {
        font-size: 20px;
    }
}